* {
  margin: 0px;
}
.main-menu, .contato {
  list-style: none;
}
.main-nav {
  display: flex;
  justify-content: space-around;
  height: 50px;
  padding: 0px 0px;
  font-size: 14px;
}
.main-nav #lista{
  display: flex;
  margin: 0px;
}
.main-nav .main-menu #a2{
  padding: 0px 14em;
  display: flex;
}
.main-nav .main-menu {
  flex: 1;
}
.main-menu h1 {
  background-color: #7FFFD4;
  border-radius: 20px 50px;
  margin-top: 25px;
  width:200px;
  padding: 0px 40px 0px 40px;
  display: flex;
  position: relative;
}
img {
  height: 50px;
  margin-top: 16px;
  
}
.main-menu .contato li {
  padding: 0px;
  margin-top: 8px;
  
}
.contato #mail {
  background-color: #7FFFD4;
  border-radius: 20px 50px;
  margin-top: 5px;
  padding: 0px 4em 0px 3em;
  font-family: OCR A Std, monospace;
  color: black;
}
.contato #telefone {
  background-color: #7FFFD4;
  border-radius: 20px 50px;
  background-size: cover;
  margin-top: 5px;
  padding: 0px 3em 0px 3em;
  font-family: OCR A Std, monospace;
  color: black;
}
.contato #title {
  background-color: #7FFFD4;
  border-radius: 20px 50px;
  background-size: cover;
  margin-top: 7px;
  padding: 0px 3em 0px 3em;
  font-family: OCR A Std, monospace;
  color: black;
}
a {
  color: #262626;
  text-decoration: none;
}
div {
 background-color: #2C5680;
 display: flex;
 width: 100%;
 padding-top: 0px;
 padding-bottom: 35px;
 
}

@media screen and (max-width:415px) {
    div {
        background-color: #2C5680;
        flex-direction: in-line;
        display: flex;
        width: 100vw;
        padding-top: 0px;
        padding-bottom: 35px;
        font-size: 8px;
        text-align: center;
    }
  .main-nav {
    font-size: 8px;
  }
  .main-nav #lista {
        width: 100%;
        margin: 0px;
        padding: 0px;
  }
  .main-menu .contato li {
  padding: 0px;
  margin-top: 15px;
  position: relative;
  display: block;
  left: -8vw;
  margin-left: 3px;
}
  .main-nav .main-menu #a2{
  padding: 0px 3vw;
  position: absolute;
  display: inline-block;
  margin: 0px;
  left: -15px;
  
}
  .main-menu h1 {
  background-color: #7FFFD4;
  border-radius: 20px 50px;
  text-align: center;
  margin-top: 3vh ;
  padding: 1px 5px 1px 5px;
  width: auto;
  display: block;
  margin-left: 36vw
  
}
img {
  height: 50px;
  margin-top: 16px;
  padding: 0px 0px;
  margin-left: 85vw;
}
}
body {
  background-color: #7FFFD4;
  height: 100vh;
  width: 100vw;
}
